
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: linear-gradient(to right, #f1e606, #c507da);
    color: #fff;
  }
  
  #container {
    width: 1000%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  textarea, button {
    margin: 10px 0;
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
  }
  
  #result {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
  }